* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #EAEEF3;
}
ul {
    padding: 0;
    list-style: none;
}
.top-layout {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #214597;
    height: 138px;
    width: 100%;
    z-index: -1;
}

.main {
    display : flex;
    width: 1180px;
    margin: 0 auto;
    padding-top: 20px;
    justify-content: space-between;
    align-items: flex-start;
    min-height: calc(100vh - 51px);
}

.sidebar {
    width: 346px;
}

.sidebar .menu {
    display: flex;
    justify-content: center;
    min-height: 400px;
    flex-direction: column;
    width: 100%;
    margin-top: 35px;
}

.content hr {
    border: 1px solid #E4E8EC;
}

.sidebar .menu li {
    width: 346px;
    padding: 0 20px;
    height: 85px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 17px 25px rgba(160, 193, 217, 0.25);
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar ul li.profile {
    height: 107px;
    margin-bottom: 20px;
    position: relative;
}

.content {
    width: 776px;
}

.content .list-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: flex-end;
    margin-bottom: 40px;
}

.content .list-title {
    color: #fff;
    font-size: 28px;
    font-weight: 900;
    line-height: 33px;
}

.content .service-info {
    border-radius: 5px;
    color: #fff;
    border: 1px solid #173988;
    width: 250px;
    padding: 10px;
    font-size: 12px;
    line-height: 20px;
}


.sidebar .profile-setting {
    position: absolute;
    top: 7px;
    right: 11px;
    width: 18px;
    height: 18px;
    background-image: url('img/Vector.png');
    background-repeat: no-repeat;
    background-position: center;
}

.sidebar .profile-outline {
    width: 78px;
    height: 79px;
    border: 1px solid #2755bd;
    border-radius: 50%;
    padding: 3px;
}

.sidebar .profile-logo {
    width: 71px;
    height: 71px;
    background-color: #2755bd;
    border-radius: 50%;
    background-image: url(img/32px_Woman\ User\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
}


.sidebar .profile-data {
    width: 220px;
}

.sidebar .profile-data .data-name {
    font-size: 18px;
    font-weight: 900;
    line-height: 21px;
}

.sidebar .profile-data .data-index {
    font-size: 18px;
    line-height: 21px;
    font-weight: 300;
}

.sidebar .profile-data .data-button {
    color: #2755BD;
    font-size: 14px;
    line-height: 16px;

}

.sidebar .menu-title-wait {
    width: 210px;
    color: #2755BD;
}

.sidebar .menu-title-wait:before {
    content: '';
    height: 21px;
    width: 21px;
    background-image: url('img/clock.png');
    background-repeat: no-repeat;
    padding-left: 35px;
    background-size: contain;

}

.sidebar .menu-icon-wait {
    background-image: url('img/Line.png');
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.sidebar .menu-title-history {
    width: 210px;
    color: #4F4F4F;
}

.sidebar .menu-title-history:before {
    content: '';
    height: 21px;
    width: 21px;
    background-image: url('img/Vectorgrey.png');
    background-repeat: no-repeat;
    padding-left: 35px;
    background-size: contain;

}

.sidebar .menu-icon-history {
    background-image: url('img/Linegrey.png');
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.sidebar .menu-title-call {
    width: 210px;
    color: #4F4F4F;
}

.sidebar .menu-title-call:before {
    content: '';
    height: 21px;
    width: 21px;
    background-image: url('img/call.png');
    background-repeat: no-repeat;
    padding-left: 35px;
    background-size: contain;

}

.sidebar .menu-icon-call {
    background-image: url('img/Linegrey.png');
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.content .reception {
    width: 776px;
    min-height: 400px;
    border-radius: 5px;
    background-color: #fff;
    padding: 1px 0;
}

.content-wrapper {
    padding: 0 24px;
}

.content .buttons ul li {
    width: 121px;
    height: 93px;
    background-color: #fff;
    box-shadow: 0px 3px 8px rgba(133, 151, 164, 0.25);
    border-radius: 6px;
    background-image: url('img/megaphoneblue.png');
    background-repeat: no-repeat;
    background-position: center;
}

.content .buttons .button-one {
    background-image: url('img/megaphoneblue.png');
}

.content .buttons .button-two {
    background-image: url('img/Polygon\ 1.png');
}

.content .buttons .button-three {
    background-image: url('img/Rectangle\ 29.png');
}

.content .buttons .button-four {
    background-image: url('img/Group\ 38354.png');
}

.content .buttons .button-five {
    background-image: url('img/Vector2323.png');
}

.content .buttons .button-six {
    background-image: url('img/Group\ 38334.png')
}

.content .route .route-buttons {
    width: 383px;
    height: 83px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.content .route .route-buttons button:first-child {
    background-color: #2755BD;
}

.content .route .route-buttons button {
    background-color: #0094E7;
    border-radius: 6px;
    width: 154px;
    height: 49px;
    border: none;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
}

.content .route .route-buttons button:after {
    content: '';
    background-image: url('img/Linewhite.png');
    background-repeat: no-repeat;
    padding-right: 20px;
    margin-left: 10px;
    background-position: center;
}

.content .buttons ul {
    width: 776px;
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
}

.content .content-data {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.content-wrapper h3 {
    font-size: 18px;
    line-height: 21px;
    font-weight: 900;
    color: #000;
    margin: 20px 0;
}

.content-wrapper h3 span {
    color: #2755BD;
}

.content .data-column {
    display: flex;
    justify-content: flex-start;
}

.content .left-item {
    width: 30%;
    margin: 14px 0;
}
.content .right-item {
    width: 70%;
    margin: 14px 0;
    font-weight: bold;
}

/* footer */

footer {
    background-color: #fff;
    height: 50px;
    display: flex;
    align-items: center;
}

footer .footer-text {
    width: 1180px;
    margin: 0 auto;
}