* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #EAEEF3;
}

ul {
    padding: 0;
    list-style: none;
}

.main {
    display : flex;
    width: 1180px;
    margin: 0 auto;
    padding-top: 20px;
    justify-content: space-between;
    align-items: flex-start;
    min-height: calc(100vh - 51px);
    position: relative;
}

.top-layout {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #214597;
    height: 138px;
    width: 100%;
    z-index: -1;
}

.sidebar {
    width: 346px;
}

.sidebar .menu {
    display: flex;
    justify-content: center;
    min-height: 400px;
    flex-direction: column;
    width: 100%;
    margin-top: 35px;
}

.sidebar .menu li {
    width: 346px;
    padding: 0 20px;
    height: 85px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 17.1429px 25.7143px rgba(160, 193, 217, 0.25);
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar ul li.profile {
    height: 107px;
    margin-bottom: 20px;
    position: relative;
}

.content .list-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: flex-end;
    margin-bottom: 40px;
}

.content .list-title {
    color: #fff;
    font-size: 28px;
    font-weight: 900;
    line-height: 33px;
}

.content .service-info {
    border-radius: 5px;
    color: #fff;
    border: 1px solid #173988;
    width: 250px;
    padding: 10px;
    font-size: 12px;
    line-height: 20px;
}

.sidebar .profile-setting {
    position: absolute;
    top: 7px;
    right: 11px;
    width: 18px;
    height: 18px;
    background-image: url('img/Vector.png');
    background-repeat: no-repeat;
    background-position: center;
}

.sidebar .profile-outline {
    width: 79px;
    height: 79px;
    border: 1px solid #2755bd;
    border-radius: 50%;
    padding: 3px;
}

.sidebar .profile-logo {
    width: 71px;
    height: 71px;
    background-color: #2755bd;
    border-radius: 50%;
    background-image: url(img/32px_Woman\ User\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
}


.sidebar .profile-data {
    width: 220px;
}

.sidebar .profile-data .data-name {
    font-size: 18px;
    font-weight: 900;
    line-height: 21px;
}

.sidebar .profile-data .data-index {
    font-size: 18px;
    line-height: 21px;
    font-weight: 300;
}

.sidebar .profile-data .data-button {
    color: #2755BD;
    font-size: 14px;
    line-height: 16px;

}

.sidebar .menu-title-wait {
    width: 210px;
    color: #2755BD;
}

.sidebar .menu-title-wait:before {
    content: '';
    height: 21px;
    width: 21px;
    background-image: url('img/clock.png');
    background-repeat: no-repeat;
    padding-left: 35px;
    background-size: contain;

}

.sidebar .menu-icon-wait {
    background-image: url('img/Line.png');
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
}

.sidebar .menu-title-history {
    width: 210px;
    color: #4F4F4F;
}

.sidebar .menu-title-history:before {
    content: '';
    height: 21px;
    width: 21px;
    background-image: url('img/Vectorgrey.png');
    background-repeat: no-repeat;
    padding-left: 35px;
    background-size: contain;

}

.sidebar .menu-icon-history {
    background-image: url('img/Linegrey.png');
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
}

.sidebar .menu-title-call {
    width: 210px;
    color: #4F4F4F;
}

.sidebar .menu-title-call:before {
    content: '';
    height: 21px;
    width: 21px;
    background-image: url('img/call.png');
    background-repeat: no-repeat;
    padding-left: 35px;
    background-size: contain;

}

.sidebar .menu-icon-call {
    background-image: url('img/Linegrey.png');
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
}

.content {
    width: 776px;
}

.content hr {
    background-color: #E4E8EC;
    margin: 0;
}

.content .history-tickets {
    width: 784px;
    height: 290px;
    background-color: #fff;
    border-radius: 5px;
}
 
.content .left-item {
    width: 30%;
    margin: 14px 0;
}
.content .right-item {
    width: 70%;
    margin: 14px 0;
    font-weight: bold;
}

.content .ticket-header {
    display: flex;
}

.content .ticket-header .button {
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
    padding: 20px 0;
    margin: 0 30px;
}

.content .ticket-header .button.active {
    color: #2755BD;
    border-bottom: 1px solid #2755BD;
}

.content .ticket-body {
    padding: 21px 30px;
}

.content .ticket-body .table {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    color: #333;
}

.content .table .thead {
    background-color: #ECEEF1;
    display: flex;
    border-radius: 5px 5px 0 0;
    color: #4B4B4B;
}

.content .table .cell:first-child {
    flex: 2;
}

.content .table .cell:nth-child(2) {
    flex: 6;
}

.content .table .cell:last-child {
    flex: 4;
}

.content .table .tbody {
    border-bottom: 2px solid #ECEEF1;
    display: flex;
}

.content .table .cell {
    padding: 10px 20px;
    color: #333;
    line-height: 19px;
    font-weight: 500;
}

.content .table .thead .cell {
    color: #4B4B4B;
}

.content .table .status-green {
    color: #1CAD56;
}

.content .table .status-red {
    color: #D71717;
}

.content .table .status-red > span {
    font-size: 12px;
}

footer {
    background-color: #fff;
    height: 50px;
    display: flex;
    align-items: center;
}

footer .footer-text {
    width: 1180px;
    margin: 0 auto;
}

.modal-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-window .modal-wrapper {
    background-color: #000;
    opacity: .6;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.modal-window .modal-content {
    width: 478px;
    height: 277px;
    background-color: #fff;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}
.modal-window .modal-title {
    font-size: 18px;
    font-weight: 900;
    color: #242424;
}

.modal-window .modal-header {
    border-bottom: 1px solid #DBE0E6;
}

.modal-window .modal-body {
    display: flex;
    flex-direction: column;
    padding: 20px 25px 30px 20px;
    justify-content: space-between;
    height: 100%;
}

.modal-window .modal-body .modal-theme {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.modal-window .modal-body .modal-text {
    font-size: 14px;
    color: #4F4F4F;
    font-weight: 500;
}

.modal-window .modal-body .box {
    width: 39px;
    height: 39px;
    background-color: #2755BD;
    border-radius: 5px;
}

.modal-window .modal-content .outline-box.active {
    width: 46px;
    height: 46px;
    border: 1px solid #2755BD;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-window .modal-theme .sky-blue {
    background-color: #0094E7;
}

.modal-window .modal-theme .purple {
    background-color: #5B23B6;
}

.modal-window .modal-theme .orange {
    background-color: #FA7719;
}

.modal-window .modal-theme .green {
    background-color: #39A644;
}

.modal-window .modal-button {
    width: 145px;
    height: 45px;
    border-radius: 6px;
    border: none;
    background-color: #2755BD;
    color: #fff;
}

.modal-window .modal-wrap {
    padding: 20px 30px;
    display:flex;
    justify-content: space-between;
    color: #242424;
    font-size: 18px;
    font-weight: 900;
}

.modal-window .modal-text {
    font-size: 14px;
    font-weight: 500;
    color: #4F4F4F;
}

.modal-window .modal-close {
    background-image: url('img/close.png');
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    background-position: center;
}

.modal-window .modal-bottom {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

/* modal window 2 */

.modal-window2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-window2 .modal-wrapper {
    background-color: #000;
    opacity: .6;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.modal-window2 .modal-content {
    width: 478px;
    height: 249px;
    background-color: #fff;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}
.modal-window2 .modal-title {
    font-size: 18px;
    font-weight: 900;
    color: #242424;
}

.modal-window2 .modal-header {
    border-bottom: 1px solid #DBE0E6;
}

.modal-window2 .modal-body {
    display: flex;
    flex-direction: column;
    padding: 20px 25px 30px 20px;
    justify-content: space-between;
    height: 100%;
}

.modal-window2 .modal-body .modal-text {
    font-size: 14px;
    color: #4F4F4F;
    font-weight: 500;
}

.selection-content select {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #C4CBD3;
    -webkit-appearance: none;
    background-image: url('img/Down.png');
    background-repeat: no-repeat;
    background-position: 98% 50%;
    padding: 5px;
    font-size: 14px;
    line-height: 16px;
    color: #333;
}

.modal-window2 .modal-button {
    width: 145px;
    height: 45px;
    border-radius: 6px;
    border: none;
    background-color: #2755BD;
    color: #fff;
}

.modal-window2 .modal-wrap {
    padding: 20px 30px;
    display:flex;
    justify-content: space-between;
    color: #242424;
    font-size: 18px;
    font-weight: 900;
}

.modal-window2 .modal-text {
    font-size: 14px;
    font-weight: 500;
    color: #4F4F4F;
}

.modal-window2 .modal-close {
    background-image: url('img/close.png');
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    background-position: center;
}

.modal-window2 .modal-bottom {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

/* modal window 3 */

.modal-window3 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-window3 .modal-wrapper {
    background-color: #000;
    opacity: .6;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.modal-window3 .modal-content {
    width: 478px;
    height: 294px;
    background-color: #fff;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}
.modal-window3 .modal-title {
    font-size: 18px;
    font-weight: 900;
    color: #242424;
}

.modal-window3 .modal-header {
    border-bottom: 1px solid #DBE0E6;
}

.modal-window3 .modal-body {
    display: flex;
    flex-direction: column;
    padding: 20px 25px 30px 20px;
    justify-content: space-between;
    height: 100%;
}

.modal-window3 .modal-body .modal-text {
    font-size: 14px;
    color: #4F4F4F;
    font-weight: 500;
}

.modal-window3 .selection-content select {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #C4CBD3;
    -webkit-appearance: none;
    background-image: url('img/Down.png');
    background-repeat: no-repeat;
    background-position: 98% 50%;
    padding: 5px;
    font-size: 14px;
    line-height: 16px;
    color: #333;
}

.modal-window3 .modal-button {
    width: 145px;
    height: 45px;
    border-radius: 6px;
    border: none;
    background-color: #2755BD;
    color: #fff;
}

.modal-window3 .modal-wrap {
    padding: 20px 30px;
    display:flex;
    justify-content: space-between;
    color: #242424;
    font-size: 18px;
    font-weight: 900;
}

.modal-window3 .modal-text {
    font-size: 14px;
    font-weight: 500;
    color: #4F4F4F;
}

.modal-window3 .modal-close {
    background-image: url('img/close.png');
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    background-position: center;
}

.modal-window3 .modal-bottom {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

/* modal window 4 */

.modal-window4 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-window4 .modal-wrapper {
    background-color: #000;
    opacity: .6;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.modal-window4 .modal-content {
    width: 478px;
    height: 294px;
    background-color: #fff;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}
.modal-window4 .modal-title {
    font-size: 18px;
    font-weight: 900;
    color: #242424;
}

.modal-window4 .modal-header {
    border-bottom: 1px solid #DBE0E6;
}

.modal-window4 .modal-body {
    display: flex;
    flex-direction: column;
    padding: 20px 25px 30px 20px;
    justify-content: space-between;
    height: 100%;
}

.modal-window4 .modal-body .modal-text {
    font-size: 14px;
    color: #4F4F4F;
    font-weight: 500;
}

.modal-window4 .selection-content input {
    width: 100%;
    height: 40px;
    font-size: 14px;
    line-height: 16px;
    color: #C3CBD3;
    border: 1px solid #C4CBD3;
    border-radius: 4px;
    padding: 5px;
}

.modal-window4 .modal-button {
    width: 145px;
    height: 45px;
    border-radius: 6px;
    border: none;
    background-color: #2755BD;
    color: #fff;
}

.modal-window4 .modal-wrap {
    padding: 20px 30px;
    display:flex;
    justify-content: space-between;
    color: #242424;
    font-size: 18px;
    font-weight: 900;
}

.modal-window4 .modal-text {
    font-size: 14px;
    font-weight: 500;
    color: #4F4F4F;
}

.modal-window4 .modal-close {
    background-image: url('img/close.png');
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    background-position: center;
}

.modal-window4 .modal-bottom {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}