* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #EAEEF3;
}

ul {
    padding: 0;
    list-style: none;
}

.top-layout {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #214597;
    height: 138px;
    width: 100%;
    z-index: -1;
}

.main {
    display : flex;
    width: 1180px;
    margin: 0 auto;
    padding-top: 20px;
    justify-content: space-between;
    align-items: flex-start;
    min-height: calc(100vh - 50px);
}

.sidebar {
    width: 346px;
}

.sidebar .menu {
    display: flex;
    justify-content: center;
    min-height: 400px;
    flex-direction: column;
    width: 100%;
    margin-top: 35px;
}

.sidebar .menu li {
    width: 346px;
    padding: 0 20px;
    height: 85px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 17px 25px rgba(160, 193, 217, 0.25);
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar ul li.profile {
    height: 107px;
    margin-bottom: 20px;
    position: relative;
}

.content {
    width: 776px;
}

.content ul.lists li {
    height: 63px;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    line-height: 19px;
    font-weight: bold;
    align-items: center;
}

.content .left-item {
    display: flex;
    justify-content: flex-end;
    width: 120px;
}

.content .left-item .number {
    color: #2755BD;
    border: 1px solid #2755BD;
    border-radius: 3px;
    height: 44px;
    width: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7px;
}

.content .left-item .calon {
    border: 1px solid #B4BED7;
    background-image: url('img/megaphone\ 1.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 44px;
    width: 52px;
}

.content ul {
    padding: 0;
}

.list-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: flex-end;
    margin-bottom: 50px;
}

.list-title {
    color: #fff;
    font-size: 28px;
    font-weight: 900;
    line-height: 33px;
}

.service-info {
    border-radius: 5px;
    color: #fff;
    border: 1px solid #173988;
    width: 250px;
    padding: 10px;
    font-size: 12px;
    line-height: 20px;
}


.profile-setting {
    position: absolute;
    top: 7px;
    right: 11px;
    width: 18px;
    height: 18px;
    background-image: url('img/Vector.png');
    background-repeat: no-repeat;
    background-position: center;
}

.profile-outline-logo {
    width: 78px;
    height: 78px;
    border: 1px solid #2755bd;
    border-radius: 50%;
    padding: 3px;
}

.profile-logo {
    width: 71px;
    height: 71px;
    background-color: #2755bd;
    border-radius: 50%;
    background-image: url(img/32px_Woman\ User\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
}


.profile-data {
    width: 220px;
}

.profile-data .data-name {
    font-size: 18px;
    font-weight: 900;
    line-height: 21px;
}

.profile-data .data-index {
    font-size: 18px;
    line-height: 21px;
    font-weight: 300;
}

.profile-data .data-button {
    color: #2755BD;
    font-size: 14px;
    line-height: 16px;

}

.menu-title-wait {
    width: 210px;
    color: #2755BD;
}

.menu-title-wait:before {
    content: '';
    height: 21px;
    width: 21px;
    background-image: url('img/clock.png');
    background-repeat: no-repeat;
    padding-left: 35px;
    background-size: contain;

}

.menu-icon-wait {
    background-image: url('img/Line.png');
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.menu-title-history {
    width: 210px;
    color: #4F4F4F;
}

.menu-title-history:before {
    content: '';
    height: 21px;
    width: 21px;
    background-image: url('img/Vectorgrey.png');
    background-repeat: no-repeat;
    padding-left: 35px;
    background-size: contain;

}

.menu-icon-history {
    background-image: url('img/Linegrey.png');
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.menu-title-call {
    width: 210px;
    color: #4F4F4F;
}

.menu-title-call:before {
    content: '';
    height: 21px;
    width: 21px;
    background-image: url('img/call.png');
    background-repeat: no-repeat;
    padding-left: 35px;
    background-size: contain;

}

.menu-icon-call {
    background-image: url('img/Linegrey.png');
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* footer */

footer {
    background-color: #fff;
    height: 50px;
    display: flex;
    align-items: center;
}

footer .footer-text {
    width: 1180px;
    margin: 0 auto;
}