* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #EAEEF3;
}

ul {
    padding: 0;
    list-style: none;
}

.main {
    display : flex;
    width: 1180px;
    margin: 0 auto;
    padding-top: 20px;
    justify-content: space-between;
    align-items: flex-start;
    min-height: calc(100vh - 51px);
}

.top-layout {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #214597;
    height: 138px;
    width: 100%;
    z-index: -1;
}

.sidebar {
    width: 346px;
}

.sidebar .menu {
    display: flex;
    justify-content: center;
    min-height: 400px;
    flex-direction: column;
    width: 100%;
    margin-top: 35px;
}

.content hr {
    background-color: #E4E8EC;
    margin: 0;
}

.sidebar .menu li {
    width: 346px;
    padding: 0 20px;
    height: 85px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 17.1429px 25.7143px rgba(160, 193, 217, 0.25);
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar ul li.profile {
    height: 107px;
    margin-bottom: 20px;
    position: relative;
}

.content {
    width: 776px;
}

.list-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: flex-end;
    margin-bottom: 50px;
}

.list-title {
    color: #fff;
    font-size: 28px;
    font-weight: 900;
    line-height: 33px;
}

.service-info {
    border-radius: 5px;
    color: #fff;
    border: 1px solid #173988;
    width: 250px;
    padding: 10px;
    font-size: 12px;
    line-height: 20px;
}


.profile-setting {
    position: absolute;
    top: 7px;
    right: 11px;
    width: 18px;
    height: 18px;
    background-image: url('img/Vector.png');
    background-repeat: no-repeat;
    background-position: center;
}

.profile-outline-logo {
    width: 78px;
    height: 78px;
    border: 1px solid #2755bd;
    border-radius: 50%;
    padding: 3px;
}

.profile-logo {
    width: 71px;
    height: 71px;
    background-color: #2755bd;
    border-radius: 50%;
    background-image: url(img/32px_Woman\ User\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
}


.profile-data {
    width: 220px;
}

.profile-data .data-name {
    font-size: 18px;
    font-weight: 900;
    line-height: 21px;
}

.profile-data .data-index {
    font-size: 18px;
    line-height: 21px;
    font-weight: 300;
}

.profile-data .data-button {
    color: #2755BD;
    font-size: 14px;
    line-height: 16px;

}

.menu-title-wait {
    width: 210px;
    color: #2755BD;
}

.menu-title-wait:before {
    content: '';
    height: 21px;
    width: 21px;
    background-image: url('img/clock.png');
    background-repeat: no-repeat;
    padding-left: 35px;
    background-size: contain;

}

.menu-icon-wait {
    background-image: url('img/Line.png');
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
}

.menu-title-history {
    width: 210px;
    color: #4F4F4F;
}

.menu-title-history:before {
    content: '';
    height: 21px;
    width: 21px;
    background-image: url('img/Vectorgrey.png');
    background-repeat: no-repeat;
    padding-left: 35px;
    background-size: contain;

}

.menu-icon-history {
    background-image: url('img/Linegrey.png');
    width: 25px;
    height: 25px;
    
    background-repeat: no-repeat;
    background-position: center;
}

.menu-title-call {
    width: 210px;
    color: #4F4F4F;
}

.menu-title-call:before {
    content: '';
    height: 21px;
    width: 21px;
    background-image: url('img/call.png');
    background-repeat: no-repeat;
    padding-left: 35px;
    background-size: contain;

}

.menu-icon-call {
    background-image: url('img/Linegrey.png');
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
}



.history-tickets {
    width: 784px;
    min-height: 290px;
    background-color: #fff;
    border-radius: 5px;
}

.left-item {
    width: 30%;
    margin: 14px 0;
}

.right-item {
    width: 70%;
    margin: 14px 0;
    font-weight: bold;
}

.ticket-header {
    display: flex;
}

.ticket-header .button {
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
    padding: 20px 0;
    margin: 0 30px;
}

.ticket-header .button.active {
    color: #2755BD;
    border-bottom: 1px solid #2755BD;
}

.ticket-body {
    padding: 21px 30px;
}

.ticket-body .table {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    color: #333;
}

.table .thead {
    background-color: #ECEEF1;
    display: flex;
    border-radius: 5px 5px 0 0;
    color: #4B4B4B;
}

.table .cell:first-child {
    flex: 1;
}

.table .cell:nth-child(2) {
    flex: 6;
}

.table .cell:nth-child(3) {
    flex: 3;
}

.table .cell:last-child {
    flex: 2;
}

.table .tbody {
    border-bottom: 2px solid #ECEEF1;
    display: flex;
}

.table .cell {
    padding: 10px 20px;
    color: #333;
    line-height: 19px;
    font-weight: 500;
}

.table .thead .cell {
    color: #4B4B4B;
}

.table .status-green {
    color: #1CAD56;
}

.table .status-red {
    color: #D71717;
}

.table .status-red > span {
    font-size: 12px;
}

.table .status-blue {
    color: #2755BD;
}

/* footer */

footer {
    background-color: #fff;
    height: 50px;
    display: flex;
    align-items: center;
}

footer .footer-text {
    width: 1180px;
    margin: 0 auto;
}