* {
    box-sizing: border-box;
}

body {
    background-color: #EAEEF3;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

main {
    width: 1440px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 300px;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inner-content {
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inner-content .error-text {
    font-size: 48px;
    line-height: 56px;
    font-weight: 900;
    color: #333;
}

.inner-content .page-text {
    font-size: 25px;
    line-height: 29px;
    font-weight: 900;
    color: #4F4F4F;
}

.home-button {
    background-color: #EAEEF3;
    height: 47px;
    border: 1px solid #C7CBD1;
    border-radius: 6px;
}

.home-button:before {
    content: '';
    background-image: url('img/Right.png');
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 20px;
    margin-right: 20px;
    color: #333;
}