body {
    margin: 0;
    padding: 0; 
    background-color: #EAEEF3;
    font-family: 'Roboto', sans-serif;
    
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 1440px;
    margin: 0 auto;
}

.page-title p {
    text-align: center;
}

.logo {
    width: 150px;
    height: 42px;
    background-image: url('img/logo.png');
    background-repeat: no-repeat;
    margin: 0 auto;

}

.form-content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 295px;
    padding: 40px;
    height: 194px;
    border-radius: 7px;
    box-shadow: 0px 15px 20px #D2D4D9;
    justify-content: space-around;
    align-items: flex-start;
}

.form-input {
    height: 40px;
    width: 297px;
    border: 1px solid #A6A6A6;
    color: #333;
    border-radius: 7px;
    font-size: 30px;
}

.form-button {
    width: 297px;
    height: 50px;
    border-radius: 7px;
    background-color: #2755BD;
    color: #fff;
    border: none;
    position: relative;
}

.form-button:after {
    content: '';
    background-image: url('img/arrow-right-1.png');
    background-repeat: no-repeat;
    width: 5px;
    height: 10px;
    right: 29%;
    top: 20px;
    padding-right: 10px;
    margin-left: 10px;
    background-position: center;
}

.form-content h3 {
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #333;
    font-weight: 900;
    
}